main {
    background-image: url(./photo/org.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;
    padding-top:0rem ;
    z-index: 1;
    display: flex;
    align-items:center;
    justify-content: start;
}
.mainHome {
    margin-left: 50px;
    align-items: center;
    box-sizing: border-box;
    padding: 12px;
    width: 30%;
  z-index: 1;

  
    
    background-size: cover;
}
h1 {
    color: white;
}
.honeforMainBage {
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
 font-weight: 800;
    font-size: 2.5em; 
    color: rgb(54, 108, 117);
    cursor: default;
    font-size: 38px;
    font-weight: bold;
    padding: 4px;
    padding-left: 1px;
    margin: 10px 2px 2px 2px;
    letter-spacing: 1px;
    width: fit-content;
    cursor: pointer;
border-spacing: 5px;



}
.paraJops {
    font-weight: 600;
    font-size: 1.1em;
    color: rgb(54, 108, 117);
    padding-left: 2px;
    cursor: pointer;
}
.socialMediaIco {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 10px;
}

.aaaSocial {
    font-size: 2em;
    background-color:rgb(35, 46, 54);
    padding: 5px 5px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 999;
    position: relative;
}
.span {
 width: 60px;
 height: 60px;
 display: flex;
 align-items: center;
 justify-content: center;
 border: 2px solid rgb(71, 103, 126);
 z-index: 1;
 position: relative;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 background-image: linear-gradient(to right, rgb(46, 89, 97) ,  rgb(165, 227, 238));
}


.span:hover {
    background-color: rgb(68, 166, 184);
}
.fa:hover {background-color: blue;}
.wh:hover {background-color: green;}
.li:hover {background-color: rgb(11, 0, 160);}
.gi:hover {background-color: rgb(189, 48, 189);}

.home-btns {
    border-radius:30px;
    padding: 15px 15px;
    background-color:rgb(35, 46, 54);
  
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(49, 176, 199);
}
.home-btns a {
    text-decoration: none;
    font-weight: 700;
    
    font-size: 1.1em;
    color: rgb(49, 176, 199);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

width: 100%;
height: 100%;
object-fit: contain;
text-align: center;
}
.home-btns:hover  {
  opacity: 90%;
}
@media (max-width:773px) {
    

    main {
        background-image: url(./photo/medium.jpeg);
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height: 650px;
        padding-top:0rem ;
        display: flex;
        align-items:center;
        justify-content: start;
    }
    .mainHome {
        margin-left: 60px;
        align-items: center;
        box-sizing: border-box;
        padding: 12px;
        width: 60%;
      
    
      
     
    }



}
@media (max-width:560px) {
    main {
        background-image: url(./photo/medium2.jpeg);
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height: 650px;
        padding-top:0rem ;
        display: flex;
        align-items:center;
        justify-content: start;
    }
    .mainHome {
width: 80%;
    }

}


@media (max-width:395px) {
    
    .mainHome {
width: 98%;
margin-left: 5px;
    }
h1 {
    width: 100%;
    font-size: 2.1em;
}


.aaaSocial {
    font-size: 2em;
    background-color:rgb(35, 46, 54);
    padding: 5px 5px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 999;
    position: relative;
}
.span {
 width: 60px;
 height: 60px;
 display: flex;
 align-items: center;
 justify-content: center;
 border: 2px solid black;
 z-index: 1;
 position: relative;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
}


}

@media (max-width:346px) {
    main {
        background-image: url(./photo/backH.jpeg);
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height: 650px;
        padding-top:0rem ;
        display: flex;
        align-items:center;
        justify-content: start;
    }
    .mainHome {
        margin-left: 5px;
        align-items: center;
   
        padding: 12px;
        width: 90%;
      
    
      
     
    }
h1 {
    font-size: 2.1em;
}
}
@media (max-width:448px) {
    main {
        background-image: url(./photo/small.jpeg);
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height: 650px;
        padding-top:0rem ;
        display: flex;
        align-items:center;
        justify-content: start;
    }
    .mainHome {
width: 80%;
margin-left: 5px;    
}

}


@media (max-width:560px) {
    
    .mainHome {
width: 90%;
    
}
h1{
    width:100%;

}
}
@media (min-width:448px) and (max-width:560px) {
    
.mainHome {
    margin-left: 1px;
}

}


.honeforMainBage:hover {
    font-size: 38px;
    font-weight: bold;
    color: rgb(49, 176, 199);
    transform: scale(1.1) translateY(-5px);
    animation: vibration 0.8s infinite;
    -webkit-animation: vibration 0.8s infinite;
    padding-left: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes vibration {
    0% { transform: scale(1.1) translateX(-2px) translateY(-5px); }
    25% { transform: scale(1.1) translateX(2px) translateY(-5px); }
    50% { transform: scale(1.1) translateX(-2px) translateY(-5px); }
    75% { transform: scale(1.1) translateX(2px) translateY(-5px); }
    100% { transform: scale(1.1) translateX(-2px) translateY(-5px); }
}

@media (max-width:390px) {

    .honeforMainBage{
    font-size: 2em;
    
    }
   
.honeforMainBage:hover {
    font-size: 24px;
    font-weight: bold;
    color: rgb(49, 176, 199);
    transform: scale(1.1) translateY(5px);
    animation: vibration 0.8s infinite;
    -webkit-animation: vibration 0.8s infinite;
    -webkit-transform: scale(1.1) translateY(5px);
    -moz-transform: scale(1.1) translateY(5px);
    -ms-transform: scale(1.1) translateY(5px);
    -o-transform: scale(1.1) translateY(5px);
    padding-left: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes vibration {
    0% { transform: scale(1.1) translateX(-2px) translateY(-5px); }
    25% { transform: scale(1.1) translateX(2px) translateY(-5px); }
    50% { transform: scale(1.1) translateX(-2px) translateY(-5px); }
    75% { transform: scale(1.1) translateX(2px) translateY(-5px); }
    100% { transform: scale(1.1) translateX(-2px) translateY(-5px); }
}

}
@media (max-width:390px) {

    .honeforMainBage{
    font-size: 1.7em;
    
    }}

@media only screen and (max-width: 1013px) and (min-width: 770px)  {

.mainHome {
width: 50%;


}


}
a {
    text-decoration: none;
}